@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Mono&display=swap);
@-webkit-keyframes cursorBlink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cursorBlink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes modalShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modalShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes modalSlideUp {
  0% {
    transform: translate(-50%, 30%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
@keyframes modalSlideUp {
  0% {
    transform: translate(-50%, 30%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
@-webkit-keyframes sizeUp {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes sizeUp {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.1);
  }
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  position: relative;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

html {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

a {
  color: #e49e35;
}

h1 {
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1rem;
}

.container, .navbar__container {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem 0;
}
@media (max-width: 1024px) {
  .container, .navbar__container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.container:not(.navbar__container), .navbar__container:not(.navbar__container) {
  min-height: calc(100vh - 100px);
}

.navbar {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.navbar::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 60px;
  left: 0;
  top: 0;
  background-color: #212121;
  z-index: -1;
}
.navbar__logo {
  margin-right: 2rem;
}
.navbar__container {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar__link {
  color: #ffffff;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: bold;
}
.navbar__menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .navbar__menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: -100%;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: #212121;
    transition: left ease 0.3s;
  }
  .navbar__menu--show {
    left: 0;
  }
}
.navbar__menu-item {
  font-size: 1.2rem;
  padding: 0.6rem 1rem;
}
.navbar__menu-item a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
.navbar__menu-item a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0%;
  height: 4px;
  background-color: #e49e35;
  transition: width ease 0.3s;
  transform: translateX(-50%);
}
.navbar__menu-item a:hover::after {
  width: 100%;
}
.navbar__user-links {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 1rem;
  margin-left: auto;
}
@media (max-width: 768px) {
  .navbar__user-links {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 0.6rem 1rem;
  }
}
.navbar__user {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navbar__user__name {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  padding: 0 calc(1rem + 20px) 0 1rem;
}
.navbar__user__name::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  width: 7px;
  height: 7px;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  transition: transform ease 0.2s;
}
.navbar__user__name:hover {
  background-color: #333333;
}
@media (max-width: 768px) {
  .navbar__user__name {
    padding: 0 1rem;
  }
  .navbar__user__name::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0%;
    height: 4px;
    background-color: #e49e35;
    transition: width ease 0.3s;
    transform: translateX(-50%);
    border: 0;
  }
  .navbar__user__name:hover {
    background: none;
  }
  .navbar__user__name:hover::after {
    width: 100%;
  }
}
.navbar__user--expand .navbar__user__name::after {
  transform: translateY(-50%) rotate(45deg);
}
@media (max-width: 768px) {
  .navbar__user--expand .navbar__user__name::after {
    transform: translateX(-50%);
  }
}
@media (min-width: 769px) {
  .navbar__user:not(.navbar__user--expand) .navbar__user__menu {
    height: 0px !important;
  }
}
@media (max-width: 768px) {
  .navbar__user:not(.navbar__user--expand) .navbar__user__menu {
    left: -100%;
  }
}
.navbar__user__menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 170px;
  height: auto;
  background-color: #212121;
  overflow: hidden;
  transition: height ease 0.2s;
}
@media (max-width: 768px) {
  .navbar__user__menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: left ease-in-out 0.2s;
  }
}
.navbar__user__menu__item {
  width: 100%;
  height: 40px;
  padding: 0.6em 1em;
  color: #ffffff;
}
.navbar__user__menu__item:hover {
  background-color: #333333;
}
.navbar__user__menu__item__link {
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: left;
}
@media (max-width: 768px) {
  .navbar__user__menu__item__link {
    text-align: center;
    font-size: 1.2rem;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  margin-top: auto;
  background-color: #212121;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  color: #ccc;
}

.auth__email-verification__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth__errors {
  background-color: #212121;
  border: solid 3px #dc3545;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.6em 1em;
}
.auth__errors__header {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.auth__errors__content {
  font-size: 1em;
  padding-left: 1em;
}

.button {
  display: inline-block;
  font-size: 1rem;
  padding: 0.7em 1.5em;
  outline: 0;
  border: 0;
  border-radius: 0.7em;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  transition: box-shadow ease-in-out 0.25s;
  text-decoration: none;
}
.button--primary {
  background-color: #e49e35;
  border: 2px solid #e49e35;
  color: #ffffff;
}
.button--primary:hover {
  box-shadow: 0px 0px 4px 2px #e49e3575;
}
.button--danger {
  background-color: #dc3545;
  border: 2px solid #dc3545;
  color: #ffffff;
}
.button--danger:hover {
  box-shadow: 0px 0px 4px 2px #dc354575;
}
.button--gray {
  background-color: #333333;
  border: 2px solid #333333;
  color: #ffffff;
}
.button--gray:hover {
  box-shadow: 0px 0px 4px 2px #383838;
}
.button--outline {
  background-color: transparent;
}

.hamburger {
  position: relative;
  display: none;
  width: 24px;
  height: 18px;
  z-index: 1001;
  margin-left: auto;
}
.hamburger__checkbox {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 1002;
}
.hamburger__line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: all ease 0.3s;
}
.hamburger__line--top {
  top: 0;
  left: 0;
}
.hamburger__checkbox:checked ~ .hamburger__line--top {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.hamburger__line--middle {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger__checkbox:checked ~ .hamburger__line--middle {
  opacity: 0;
}
.hamburger__line--bottom {
  top: 100%;
  left: 0;
  transform: translateY(-100%);
}
.hamburger__checkbox:checked ~ .hamburger__line--bottom {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}

.typing-field {
  position: relative;
  width: 100%;
  border: solid 3px #e49e35;
  height: 400px;
  border-radius: 10px;
  font-size: 2rem;
  padding: 0.6em 1em;
  overflow: hidden;
  cursor: text;
}
.typing-field__text {
  padding: 1rem 0.6rem;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
  font-family: "Roboto Mono", monospace;
  transition: margin-top ease-in-out 0.1s;
}
.typing-field__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.typing-field__speed {
  position: absolute;
  right: 0;
}
.typing-field__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.typing-field__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  outline: none;
  opacity: 0;
}
.typing-field__word {
  display: inline-block;
}
.typing-field__letter {
  display: inline-block;
  padding: 0 0.05em;
  margin: 0.05em 0.05em;
  color: #fafafa;
}
.typing-field__letter--placeholder {
  color: #afafaf;
}
.typing-field__letter--typed {
  color: #fafafa;
  border-radius: 5px;
  background-color: #666;
}
.typing-field__letter--correct {
  background-color: rgba(0, 255, 0, 0.3);
}
.typing-field__letter--incorrect {
  background-color: rgba(255, 0, 0, 0.3);
}
.typing-field__letter--cursor {
  position: relative;
}
.typing-field__letter--cursor::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fafafa;
  -webkit-animation: cursorBlink 1s infinite;
          animation: cursorBlink 1s infinite;
}
.typing-field__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.user-interface {
  width: 100%;
  border: 3px solid #e49e35;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 1em 1em;
}
.user-interface__element {
  display: block;
  color: #ffffff;
}
.user-interface__element--hide {
  display: none;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  background-color: #212121;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.2);
  transition: transform ease-in-out 0.5s;
}
.modal__wrapper {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
}
.modal__wrapper--show {
  opacity: 1;
}
.modal__wrapper--show .modal {
  transform: translate(-50%, -50%);
}
.modal__wrapper--showing {
  -webkit-animation: modalShow ease-in-out 0.7s;
          animation: modalShow ease-in-out 0.7s;
}
.modal__wrapper--showing .modal {
  -webkit-animation: modalSlideUp ease-in-out 0.7s;
          animation: modalSlideUp ease-in-out 0.7s;
}
.modal__wrapper--hide {
  display: none;
  opacity: 0;
}
.modal__wrapper--hiding {
  animation: modalShow ease-in-out 0.7s reverse;
}
.modal__wrapper--hiding .modal {
  animation: modalSlideUp ease-in-out 0.7s reverse;
}
.modal__header {
  text-align: center;
  margin: 1em 0 0.5em 0;
}
.modal__body {
  text-align: center;
  margin: 0.5em 0 1em 0;
}
.modal__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.spinner {
  position: relative;
  width: 7em;
  height: 2em;
}
.spinner--hide {
  display: none;
}
.spinner__dot1 {
  position: absolute;
  left: 0;
  width: 2em;
  height: 2em;
}
.spinner__dot1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2em;
  background-color: #fff;
  -webkit-animation: sizeUp ease-in-out 0.7s infinite alternate;
          animation: sizeUp ease-in-out 0.7s infinite alternate;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
.spinner__dot2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2em;
  height: 2em;
}
.spinner__dot2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2em;
  background-color: #fff;
  -webkit-animation: sizeUp ease-in-out 0.7s infinite alternate;
          animation: sizeUp ease-in-out 0.7s infinite alternate;
  -webkit-animation-delay: -200ms;
          animation-delay: -200ms;
}
.spinner__dot3 {
  position: absolute;
  right: 0;
  width: 2em;
  height: 2em;
}
.spinner__dot3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2em;
  background-color: #fff;
  -webkit-animation: sizeUp ease-in-out 0.7s infinite alternate;
          animation: sizeUp ease-in-out 0.7s infinite alternate;
  -webkit-animation-delay: -400ms;
          animation-delay: -400ms;
}
.spinner__wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form__header {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  padding: 1.2em 0 0.5em 0;
}
.form__group {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em 0;
}
@media (max-width: 500px) {
  .form__group {
    flex-direction: column;
  }
}
.form__label {
  width: 25%;
  text-align: right;
  padding: 0.6em 1em;
  font-size: 1rem;
}
@media (max-width: 500px) {
  .form__label {
    text-align: center;
    width: 100%;
  }
}
.form__control {
  width: 50%;
  padding: 0.6em 1em;
  outline: 0;
  border: 0;
  background: #212121;
  border: 3px solid #e49e35;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1rem;
}
@media (max-width: 500px) {
  .form__control {
    width: 100%;
  }
}
.form__comment {
  width: 25%;
  padding: 0.6em 1em;
  font-size: 0.8rem;
  color: #999999;
}
@media (max-width: 500px) {
  .form__comment {
    width: 100%;
  }
}
.form__checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 25px;
  height: 25px;
}
.form__checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
}
.form__checkbox__input:checked ~ .form__checkbox__checkmark::after {
  display: block;
}
.form__checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #212121;
  border-radius: 5px;
}
.form__checkbox__checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #e49e35;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
@media (max-width: 500px) {
  .form__checkbox {
    float: left;
  }
}
.form__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
@media (max-width: 500px) {
  .form__footer {
    flex-direction: column;
  }
}

.result-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.result-table__header {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #e49e35;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.result-table__header .result-table__column {
  font-size: 1.2rem;
}
@media screen and (max-width: 500px) {
  .result-table__header {
    display: none;
  }
}
.result-table__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 3px #e49e35;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  .result-table__body {
    border-top: solid 3px #e49e35;
    border-radius: 10px;
  }
}
.result-table__body .result-table__row:hover {
  background-color: #383838;
}
.result-table__row {
  width: 100%;
  display: flex;
  height: 30px;
}
.result-table__row .result-table__column {
  line-height: 30px;
}
@media screen and (max-width: 500px) {
  .result-table__row {
    flex-wrap: wrap;
    height: auto;
    border-bottom: dashed 2px #383838;
  }
}
.result-table__column {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  padding: 0 10px;
}
.result-table__column--user {
  width: 40%;
}
.result-table__column--user::before {
  content: "Username: ";
}
.result-table__column--speed {
  width: 20%;
}
.result-table__column--speed::before {
  content: "Speed: ";
}
.result-table__column--accuracy {
  width: 20%;
}
.result-table__column--accuracy::before {
  content: "Accuracy: ";
}
.result-table__column--typos {
  width: 20%;
}
.result-table__column--typos::before {
  content: "Typos: ";
}
@media screen and (max-width: 500px) {
  .result-table__column {
    width: 100%;
    flex-direction: row;
    gap: 10px;
  }
  .result-table__column:nth-child(2n) {
    text-align: right;
  }
}
@media screen and (min-width: 501px) {
  .result-table__column::before {
    content: "";
  }
}
.result-table__wrapper {
  width: 100%;
  margin-top: 40px;
}
.result-table__heading {
  font-size: 2rem;
  margin: 10px 0;
}

.homepage__main-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 100%;
}
.homepage__main-section__header {
  text-align: center;
  margin-bottom: 20px;
}
.homepage__main-section__header > p {
  font-size: 1.5rem;
  padding: 10px 0;
}
.homepage__main-section__options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.homepage__main-section__options__header {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
.homepage__main-section__option {
  display: flex;
  width: 40%;
  padding: 2rem;
  flex-direction: column;
  gap: 1rem;
  border: solid 3px #e49e35;
  border-radius: 10px;
  min-width: 280px;
}
.homepage__main-section__option > p {
  line-height: 1.5rem;
}
.homepage__main-section__option .button {
  display: block;
  align-self: center;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #121212;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  color: #ffffff;
}
