.container {
    position: relative;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 2rem 0;

    @media (max-width: 1024px) {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

.container:not(.navbar__container) { 
    min-height: calc(100vh - 100px);
}