$primary: #e49e35;
$danger: #dc3545;
$gray: #333333;

$background: #121212;
$card: #212121;

$text: #ffffff;
$text-dark: #999999;
$link-primary: #e49e35;
$link-visited: #a37126;

$primary-shadow: #e49e3575;
$danger-shadow:#dc354575;
$gray-shadow: #383838;